body {
    margin: 0;
    background-color: #e9e9f2;
    font-family: 'Pangolin', cursive;
}



/*HEADER*/
.icon {
    width: 63.2px;
    float: left;
    margin: 25px 0 25px 40px;
}

.header-text {
    font-size: 50px;
    float: left;
    margin: 25px 10px;
    color: #e9e9f2;
}

header {
    background-color: #691625;
}

.clear {
    clear: both;
}

@media only screen and (min-width: 900px) {
    .icon {
        /* width: 63.2px; */
        width: 63.2px;
    }
}

@media only screen and (max-width: 900px) {
    .header-text {
        font-size: 5.5vw;
        margin: 2.5vw 1vw;
    }

    .icon {
        width: 6.3vw;
        margin-left: 4.2vw;
        margin: 2.5vw 0 2.5vw 4vw;
    }
}



/*NAV*/
.search {
    background-color: #1d1e25;
    clear: both;
    display: flex;
    position: sticky;
    top: 0;
    padding: 10px 0;
}

.menu_popup ul {
    display: flex;
    flex-direction: column;
    position: fixed;
    justify-content: top;
    left: -220px;
    top: 0;
    background-color: #1d1e25;
    margin: 0;
    padding-top: 80px;
    height: 100vh;
    width: 100%;
    max-width: 180px;
    z-index: 0;
    transition: .3s ease;
}

.menu_popup ul.active {
    left: 0;
}

.menu_popup ul > li {
    list-style-type: none;
    margin: 10px 0;
    color: white;
}

.menu_popup li {
    cursor: pointer;
}

@media only screen and (max-width: 700px) {
    .menu_popup {
        font-size: 2.3vw;
    }

    .menu_popup ul > li {
        margin: 1.4vw 0;
    }

    .menu_popup ul {
        left: -250px;
        padding-top: 12vw;
        max-width: 25.5vw;
    }
}

.ham-menu {
    width: 30px;
    height: 30px;
    margin: auto;
    position: relative;
    z-index: 1;
    margin: auto 30px;
}

.ham-menu span {
    display: block;
    height: 2px;
    width: 100%;
    background-color: #585b67;
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .3s ease;
}

.ham-menu span:nth-child(1) {
    top: 25%;
}

.ham-menu span:nth-child(3) {
    top: 75%;
}

.ham-menu.active span:nth-child(1) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.ham-menu.active span:nth-child(2) {
    opacity: 0;
}

.ham-menu.active span:nth-child(3) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}



/*PHOTOS*/
main {
    margin: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

figure {
    margin: 10px;
    border: 1px solid #691625;
}

figure img {
    /* min-width: 150px; */
    /* border-radius: 0px; */
    padding: 10px;
    background-color: #691625;
}

figcaption {
    background-color: #e9e9f2;
    padding: 10px;
}

.up {
    position: fixed;
    bottom: 10px;
    right: 10px;
}

@media only screen and (min-width: 700px) {
    figure img {
        width: 250px;
    }

    figcaption {
        width: 250px;
    }

    .up {
        width: 70px;
    }
}

@media only screen and (max-width: 700px) {
    main {
        margin: 4.3vw;
        font-size: 2.3vw;
    }

    figure img {
        width: 35.6vw;
        padding: 1.4vw;
    }

    figcaption {
        width: 35.6vw;
        padding: 1.4vw;
    }

    .up {
        width: 10vw;
        bottom: 1.4vw;
        right: 1.4vw;
    }
}



/*FOOTER*/
footer {
    background-color: #691625;
    height: 200px;
    color: #e9e9f2;
    padding: 20px;
    margin-top: 20px;
}


table {
    margin-top: 30px;
    color: #e9e9f2;
}

td {
    padding: 5px 10px 5px 10px;
}



/* TAGI */
main.active_makaron figure:not(.makaron){
    display: none;
}

#makaron.active_makaron {
    color: #7c808f;
}


main.active_ryz figure:not(.ryz){
    display: none;
}

#ryz.active_ryz {
    color: #7c808f;
}


main.active_kasza figure:not(.kasza){
    display: none;
}

#kasza.active_kasza {
    color: #7c808f;
}


main.active_ziemniaki figure:not(.ziemniaki){
    display: none;
}

#ziemniaki.active_ziemniaki {
    color: #7c808f;
}


main.active_kluski figure:not(.kluski){
    display: none;
}

#kluski.active_kluski {
    color: #7c808f;
}


main.active_surowki figure:not(.surowki){
    display: none;
}

#surowki.active_surowki {
    color: #7c808f;
}


main.active_mieso figure:not(.mieso){
    display: none;
}

#mieso.active_mieso {
    color: #7c808f;
}


main.active_ryba figure:not(.ryba){
    display: none;
}

#ryba.active_ryba {
    color: #7c808f;
}


main.active_wege figure:not(.wege){
    display: none;
}

#wege.active_wege {
    color: #7c808f;
}


main.active_slodkie figure:not(.slodkie){
    display: none;
}

#slodkie.active_slodkie {
    color: #7c808f;
}


main.active_zupy figure:not(.zupy){
    display: none;
}

#zupy.active_zupy {
    color: #7c808f;
}


main.active_zapiekanki figure:not(.zapiekanki){
    display: none;
}

#zapiekanki.active_zapiekanki {
    color: #7c808f;
}


main.active_x3 figure:not(.x3){
    display: none;
}

#x3.active_x3 {
    color: #7c808f;
}


main.active_szybkie figure:not(.szybkie){
    display: none;
}

#szybkie.active_szybkie {
    color: #7c808f;
}


main.active_piekarnik figure:not(.piekarnik){
    display: none;
}

#piekarnik.active_piekarnik {
    color: #7c808f;
}